<div class="card">
  <div class="card-body text-center">
    <button class="btn btn-success btn-lg" (click)="tirarDados()">Tirar dados</button>
    <hr />
    <div class="d-flex justify-content-around mt-4">
      <img class="img" [src]="dadoIzquierda" alt="dice picture left side" />
      <img class="img" [src]="dadoDerecha" alt="dice picture right side" />
    </div>
    <div class="row d-flex justify-content-center">
      <div class="alert alert-success mt-5 col-4" *ngIf="dado1===dado2">Ganaste</div>
    </div>
  </div>
</div>
